{% extends "base.html" %}
{% block title %}Ваши подписки {% endblock %}

{% block content %}
    <div class="container">

        {% include "includes/menu.html" with index=False %}

        <h1>Ваши подписки</h1>
        {% load cache %}
        {% cache 20 page %}
            {% for post in page %}
                {% include "includes/card_post.html" with post=post %}
            {% endfor %}

            {% if page.has_other_pages %}
                {% include "includes/paginator.html" with items=page paginator=paginator %}
            {% endif %}
        {% endcache %}
    </div>
{% endblock %}